<!DOCTYPE html>
<html>

<head>
    <title>CHESS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>

</head>

<body ng-app="ChessApp" ng-controller="MainController">

    <div class="kills">
        <div class="black_kills">
                <img class="kill_icon" ng-src="images/{{kills}}.png" ng-if="kills.white.length!=0" ng-repeat="kills in kills.white track by $index">
        </div>

        <div class="white_kills">
                <img class="kill_icon" ng-src="images/{{kills}}.png"  ng-if="kills.black.length!=0" ng-repeat="kills in kills.black track by $index">
        </div>
    </div>

    <div class="main_box">

        <div ng-repeat="gridElement in playArea" id="{{gridElement.sno}}" class="squareGrid" ng-class="{'float':!($index%8),'bb':((gridElement.row+gridElement.sno)%2),'ww':!((gridElement.row+gridElement.sno)%2)}"
            ng-init="gridElement.sno=gridElement.sno+$index;" ng-click="clicked($event,gridElement)">

            <!-- curr:{{ gridElement.sno }}
            row:{{gridElement.row}} col:{{gridElement.col}} -->

            <img ng-if="gridElement.property.color" class="play_icon" ng-src="images/{{gridElement.property.color}}{{gridElement.property.type}}.png">

        </div>

    </div>

    <div class="info">
        <h1 class="elegantshadow">CHESS</h1>
        <div class="player_name">
            {{player1}}
        </div>
        <div class="player_name">
            {{player2}}
        </div>
        <div class="new_game">
            <button ng-click="newGame()">NEW GAME</button>
        </div>
    </div>

    <div id="modal">
        <div id="inner_modal">
        <p id="modal_chess">CHESS</p>
        <form  ng-submit="closeModal()">
            
            <input type="text" class="player_input" ng-model="player1" placeholder="Player 1" style="margin-right:20px;"/>
            
            <input type="text" class="player_input" ng-model="player2" placeholder="Player 2"/><br/>
            <input id="submitBtn" type="submit"  value="PLAY">
        </form>
        </div>
    </div>



    <!--Module-->
    <script src="js/app.js"></script>
    <!--Controllers-->
    <script src="js/controllers/MainController.js"></script>


</body>

</html>